body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    padding: 15px 0;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.container-fluid {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

.custom-btn {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.custom-btn:hover {
    background-color: #c9302c;
}

.card {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-body {
    padding: 20px;
}

.card-btn {
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s;
}

.card-btn:hover {
    background-color: #003366;
}

.card-btn img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}