body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 80px); /* Ändere die Breite der Zellen */
    gap: 10px; /* Ändere den Abstand zwischen den Zellen */
}

.cell {
    width: 80px; /* Ändere die Breite der Zellen */
    height: 80px; /* Ändere die Höhe der Zellen */
    border: 2px solid #ccc; /* Ändere die Dicke der Zellenränder */
    cursor: pointer;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: yellow;
}

.row-buttons {

    margin-top: 20px; /* Ändere den Abstand zwischen dem Spielfeld und den Knöpfen */
    margin-left: 5px;
}

.row-button {
    width: 80px; /* Ändere die Breite der Knöpfe */
    height: 40px; /* Ändere die Höhe der Knöpfe */
    margin-right: 5px; /* Ändere den Abstand zwischen den Knöpfen */
    cursor: pointer;
    background-color: blue;
}

.button {
    position: absolute;
    left: 47.15%;
    bottom: 3%;
    padding: 10px 20px;
    font-size: 18px;
    background-color: blue;
    color: #fff;
    border: none;
    cursor: pointer;
}