body {
    margin: 0;
    overflow: hidden;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#main-container {
    display: flex;
    align-items: center;
}

#roulette-wheel {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #734908;
    border-radius: 50%;
    border: 5px solid #50340a;
    margin-right: 50px;
    margin-left: -1100px;
    margin-top: -200px;
    background-image: url('../images/Roulettewheel.png') !important;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.roulette-wheel2 {
    position: absolute;
    width: 245px;
    height: 245px;
    background-color: #734908;
    border-radius: 50%;
    border: 5px solid #50340a;
    margin-right: 50px;
    margin-left: -1072px;
    margin-top: -173px;
    background-image: url('../images/Kugel.jpg') !important;
    background-size: cover;
    background-position: center;
    animation-name: rotate;
    animation-timing-function: linear;
    z-index: 2;

}

#table-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;

}

#roulette-table {
    border-collapse: collapse;
    font-size: 20px;
    margin-bottom: 20px;
}

#backButton {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#backButton:hover {
    background-color: #45a049;
}

#roulette-table th, #roulette-table td {
    width: 30px;
    height: 30px;
    padding: 10px;
    text-align: center;
    color: #fff;
}

@keyframes rotate {
    from {
        transform: rotate(360deg)
    }
    to {
        transform: rotate(-360deg)
    }

}

.pausedanimation {
    animation-play-state: paused;
}

.zero {
    background-color: forestgreen;
    border: 1px solid #fff !important;
    cursor: pointer;
    user-select: none;
}

.red {
    background-color: red;
    border: 1px solid #fff;
    cursor: pointer;
    user-select: none;
}

.black {
    background-color: black;
    border: 1px solid #fff;
    cursor: pointer;
    user-select: none;
}

.range {
    background-color: lightslategrey;
    border: 1px solid #fff !important;
    cursor: pointer;
    user-select: none;
}

.null {
    border: 1px solid darkgreen;

}

.result {
    background-color: yellow;
}

.Title {
    position: absolute;
    color: #fff;
    margin-left: -60px;
    margin-top: -150px;
}

.counter {
    font-size: xxx-large;
    color: #fff;
    z-index: 3;
    position: absolute;
    margin-right: 50px;
    margin-left: -253px;
    margin-top: -90px;
    text-align: center;
}
 .money {
     font-size: xx-large;
     color: #fff;
     position: absolute;
     margin-left: 1150px;
     margin-top: -750px;
     text-align: center;
 }

 .popup {
     color: black;
 }

 .redeemCode {
     position: absolute;
     color: darkgreen;
     background: darkgreen;
     border: none;
     margin-left: -670px;
     margin-bottom: 900px;
 }

.coin-image {
    width: 50px;  /* Passen Sie die Breite des Bildes an */
    height: 50px; /* Passen Sie die Höhe des Bildes an */
    background: url('../images/Coin.png') center center no-repeat;
    background-size: contain;
    position: absolute;
    pointer-events: none;
    z-index: 2;
}

.lastWin {
    font-size: xx-large;
    color: #fff;
    position: absolute;
    margin-left: 900px;
    text-align: center;
}
