body {
    margin: 0;
    overflow: hidden;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#main-container {
    display: flex;
    align-items: center;
}

#roulette-wheel {
    width: 300px;
    height: 300px;
    background-color: #734908;
    border-radius: 50%;
    border: 5px solid #50340a;
    margin-right: 50px;
    margin-left: -1100px;
    margin-top: 1px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Basic_roulette_wheel.svg/1024px-Basic_roulette_wheel.svg.png') !important;
    background-size: cover;
    background-position: center;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#table-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#roulette-table {
    border-collapse: collapse;
    font-size: 20px;
    margin-bottom: 20px;
}

#backButton {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#backButton:hover {
    background-color: #45a049;
}

#roulette-table th, #roulette-table td {
    width: 30px;
    height: 30px;
    padding: 10px;
    text-align: center;
    color: #fff;
}

@keyframes rotate {
    from { transform: rotate(-360deg)}
    to  { transform: rotate(360deg)}

}

.zero {
    background-color: forestgreen;
    border: 1px solid #fff !important;
}

.red {
    background-color: red;
    border: 1px solid #fff;
}

.black {
    background-color: black;
    border: 1px solid #fff;
}

.range {
    background-color: lightslategrey;
    border: 1px solid #fff !important;
}

.null {
    border: 1px solid darkgreen;
}

.result {
    background-color: yellow;
}

circle {
    border-radius: 50%;
    width: 50px;
    border-color: saddlebrown;
}
