
body {
    text-align: center;
    background-color: #333;
    color: #fff;
}

table {
    border-collapse: collapse;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: #333;
}

td {
    width: 100px;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #000;
}

.cell {
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

.x {
    color: deepskyblue;
}

.o {
    color: whitesmoke;
}


button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}
