<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="styles/dashboard.css">
    <title>Dashboard</title>
</head>

<body>
<div class="dashboard">
    <div class="header">
        <h1>Mein Fancy Dashboard</h1>
        <a href="logout.php" class="logout">Logout</a>
    </div>
    <div class="content">
        <a href="calc.php" class="calculator-link">Calculator</a>
    </div>
    <div class="content">
        <a href="test.php" class="calculator">Test</a>
    </div>
</div>
</body>
</html>