<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/dashboard.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mein Dashboard</title>
</head>
<body>

<nav class="navbar navbar-dark">
    <div class="container">
        <span class="navbar-brand">Mein Dashboard</span>
        <button class="custom-btn" onclick="logout()">Logout</button>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <div class="card" onclick="navigateToPage('page1')">
                <div class="card-body">
                    <button class="card-btn">
                        <img src="images/Calculator.jpg" alt="Page 1 Image">
                        Taschenrechner
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-4">
            <div class="card" onclick="navigateToPage('page2')">
                <div class="card-body">
                    <button class="card-btn">
                        <img src="images/TicTacToe.jpg" alt="Page 2 Image">
                        TicTacToe
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-4">
            <div class="card" onclick="navigateToPage('page3')">
                <div class="card-body">
                    <button class="card-btn">
                        <img src="images/Guck mal.jpg" alt="Page 3 Image">
                        Guck mal Markus
                    </button>
                </div>
            </div>
        </div>
        <!-- Weitere Kästchen nach Bedarf hinzufügen -->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/dashboard.js"></script>

</body>
</html>
