<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="styles/dashboard.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mein Dashboard</title>

</head>
<body>

<div id="dashboard">
    <div id="logout" onclick="logout()">Logout</div>
    <div class="box" onclick="navigateToPage('page1')">Taschenrechner</div>
    <div class="box" onclick="navigateToPage('page2')">Tic Tac Toe</div>
    <div class="box" onclick="navigateToPage('page3')">Guck mal Markus</div>
    <!-- Füge weitere Kästchen nach Bedarf hinzu -->
</div>

<script type="text/javascript" src="scripts/dashboard.js"></script>

</body>
</html>
