<!DOCTYPE html>
<html lang="de">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/mainphpstyle.css">
</head>

<body>

<div class="dashboard bg-dark text-white">
    <div class="header">
        <a href="/dashboard" class="headerButton btn btn-primary">Zurück</a>
    </div>
</div>

<div class="calculator bg-dark text-white">
    <form action="calc.php" method="post">

        <div class="text-danger">
            {{ error }}
        </div>

        <table id="calcu" class="table">
            <tr>
                <td colspan="3"><input type="text" id="result" name="input" value="{{ result }}" class="form-control"></td>
                <td><input type="button" value="c" onclick="clr()" class="btn btn-secondary" /> </td>
            </tr>
            <tr>
                <td><input type="button" value="1" name="data[]" onclick="dis('1')" class="btn btn-primary"></td>
                <td><input type="button" value="2" onclick="dis('2')" class="btn btn-primary"></td>
                <td><input type="button" value="3" onclick="dis('3')" class="btn btn-primary"></td>
                <td><input type="button" value="/" onclick="dis('/')" class="btn btn-primary"></td>
            </tr>
            <tr>
                <td><input type="button" value="4" onclick="dis('4')"
                           onkeydown="myFunction(event)"> </td>
                <td><input type="button" value="5" onclick="dis('5')"
                           onkeydown="myFunction(event)"> </td>
                <td><input type="button" value="6" onclick="dis('6')"
                           onkeydown="myFunction(event)"> </td>
                <td><input type="button" value="*" onclick="dis('*')"
                           onkeydown="myFunction(event)"> </td>
            </tr>
            <tr>
                <td><input type="button" value="7" onclick="dis('7')"
                           onkeydown="myFunction(event)"> </td>
                <td><input type="button" value="8" onclick="dis('8')"
                           onkeydown="myFunction(event)"> </td>
                <td><input type="button" value="9" onclick="dis('9')"
                           onkeydown="myFunction(event)"> </td>
                <td><input type="button" value="-" onclick="dis('-')"
                           onkeydown="myFunction(event)"> </td>
            </tr>
            <tr>
                <td><input type="button" value="0" onclick="dis('0')" class="btn btn-primary"></td>
                <td><input type="button" value="." onclick="dis('.')"
                           onkeydown="myFunction(event)" class="btn btn-primary"></td>

                <td><input type="submit" value="=" class="btn btn-success"> </td>

                <td><input type="button" value="+" onclick="dis('+')" class="btn btn-primary"></td>
            </tr>
        </table>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="scripts/calculatorbuttons.js"></script>
</body>
</html>
