<head>
    <link rel="stylesheet" href="styles/register.css">
</head>

<div class="forward">
    <h1>Danke fuer die Registrierung</h1>
    <form action="/register" method="post">
        <label for="Weiterleitung">Weiterleitung in:</label>
    </form>
</div>

<!--Countner---------------------------------------------------------------------------------------------------------->

<div class="counter">
    <div class="nums">
        <span class="in">3</span>
        <span>2</span>
        <span>1</span>
        <span>0</span>
    </div>
</div>
<div class="final">
</div>


<script src="scripts/register.js"></script>