<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roulette Table</title>
    <link rel="stylesheet" href="styles/roulette.css">
</head>

<tbody>
<table id="roulette-table">
    <tr>
        <td rowspan="3" class="zero">0</td>
        <td class="red">3</td>
        <td class="black">6</td>
        <td class="red">9</td>
        <td class="red">12</td>
        <td class="black">15</td>
        <td class="red">18</td>
        <td class="red">21</td>
        <td class="black">24</td>
        <td class="red">27</td>
        <td class="red">30</td>
        <td class="black">33</td>
        <td class="red">36</td>
        <td class="range"><</td>
    </tr>
    <tr>
        <td class="black">2</td>
        <td class="red">5</td>
        <td class="black">8</td>
        <td class="black">11</td>
        <td class="red">14</td>
        <td class="black">17</td>
        <td class="black">20</td>
        <td class="red">23</td>
        <td class="black">26</td>
        <td class="black">29</td>
        <td class="red">32</td>
        <td class="black">35</td>
        <td class="range"><</td>
    </tr>
    <tr>
        <td class="red">1</td>
        <td class="black">4</td>
        <td class="red">7</td>
        <td class="black">10</td>
        <td class="black">13</td>
        <td class="red">16</td>
        <td class="red">19</td>
        <td class="black">22</td>
        <td class="red">25</td>
        <td class="black">28</td>
        <td class="black">31</td>
        <td class="red">34</td>
        <td class="range"><</td>
    </tr>
    <tr>
        <td rowspan="2" class="null"></td>
        <td colspan="4" class="range">1-12</td>
        <td colspan="4" class="range">13-24</td>
        <td colspan="4" class="range">25-36</td>
        <td rowspan="2" class="null"></td>
    </tr>
    <tr>
        <td colspan="2" class="range">1-18</td>
        <td colspan="2" class="range">PAIR</td>
        <td colspan="2" class="red">RED</td>
        <td colspan="2" class="black">BLACK</td>
        <td colspan="2" class="range">IMPAIR</td>
        <td colspan="2" class="range">19-36</td>
    </tr>
    </tbody>
</table>

<script src="scripts/roulette.js"></script>
</body>
</html>