<!DOCTYPE html>
<html lang="de">
<body>
<header>
    <h1 class="Title">Roulette</h1>
    <link rel="stylesheet" href="styles/roulette.css">
</header>

<div id="main-container">
    <div id="table-container">
        <table id="roulette-table">
            <tr>
                <td rowspan="3" class="zero" id="0">0</td>
                <td class="red" id="3">3</td>
                <td class="black" id="6">6</td>
                <td class="red" id="9">9</td>
                <td class="red" id="12">12</td>
                <td class="black" id="15">15</td>
                <td class="red" id="18">18</td>
                <td class="red" id="21">21</td>
                <td class="black" id="24">24</td>
                <td class="red" id="27">27</td>
                <td class="red" id="30">30</td>
                <td class="black" id="33">33</td>
                <td class="red" id="36">36</td>
                <td class="range" id="row1"><</td>
            </tr>
            <tr>
                <td class="black" id="2">2</td>
                <td class="red" id="5">5</td>
                <td class="black" id="8">8</td>
                <td class="black" id="11">11</td>
                <td class="red" id="14">14</td>
                <td class="black" id="17">17</td>
                <td class="black" id="20">20</td>
                <td class="red" id="23">23</td>
                <td class="black" id="26">26</td>
                <td class="black" id="29">29</td>
                <td class="red" id="32">32</td>
                <td class="black" id="35">35</td>
                <td class="range" id="row2"><</td>
            </tr>
            <tr>
                <td class="red" id="1">1</td>
                <td class="black" id="4">4</td>
                <td class="red" id="7">7</td>
                <td class="black" id="10">10</td>
                <td class="black" id="13">13</td>
                <td class="red" id="16">16</td>
                <td class="red" id="19">19</td>
                <td class="black" id="22">22</td>
                <td class="red" id="25">25</td>
                <td class="black" id="28">28</td>
                <td class="black" id="31">31</td>
                <td class="red" id="34">34</td>
                <td class="range" id="row3"><</td>
            </tr>
            <tr>
                <td rowspan="2" class="null"></td>
                <td colspan="4" class="range" id="1-12">1-12</td>
                <td colspan="4" class="range" id="13-24">13-24</td>
                <td colspan="4" class="range" id="25-36">25-36</td>
                <td rowspan="2" class="null"></td>
            </tr>
            <tr>
                <td colspan="2" class="range" id="1-18">1-18</td>
                <td colspan="2" class="range" id="PAIR">PAIR</td>
                <td colspan="2" class="red" id="RED">RED</td>
                <td colspan="2" class="black" id="BLACK">BLACK</td>
                <td colspan="2" class="range" id="IMPAIR">IMPAIR</td>
                <td colspan="2" class="range" id="19-36">19-36</td>
            </tr>
        </table>
    </div>
    <div id="roulette-container">
        <div id="roulette-wheel"></div>
        <div id="roulette-wheel2" class="roulette-wheel2"></div>
    </div>
    <div class="counter" id="counter"></div>
    <div class="money" id="money">Geld: {{ money }}</div>
    <button id="codeButton" onclick="openCodePopup()" class="redeemCode">Code einlösen</button>


    <dialog id="codePopup" class="popup">
        <label for="codeInput">Code eingeben:</label>
        <input type="text" id="codeInput" name="codeInput" required>
        <button onclick="redeemCode()">Einlösen</button>
        <button onclick="closeCodePopup()">Abbrechen</button>
    </dialog>

</div>

<button id="backButton" onclick="goBack()">Zurück</button>

<script src="scripts/roulette.js"></script>
</body>
</html>
