<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles/tictactoe.css">
</head>

<body>

<h1>Tic-Tac-Toe</h1>

<table>
    <tr>
        <td class="cell" onclick="makeMove(this)"></td>
        <td class="cell" onclick="makeMove(this)"></td>
        <td class="cell" onclick="makeMove(this)"></td>
    </tr>
    <tr>
        <td class="cell" onclick="makeMove(this)"></td>
        <td class="cell" onclick="makeMove(this)"></td>
        <td class="cell" onclick="makeMove(this)"></td>
    </tr>
    <tr>
        <td class="cell" onclick="makeMove(this)"></td>
        <td class="cell" onclick="makeMove(this)"></td>
        <td class="cell" onclick="makeMove(this)"></td>
    </tr>
</table>

<p id="message"></p>
<button onclick="resetGame()">Zurücksetzen</button>
<button type="button" onclick="goBack()">Zurück</button>

<script src="scripts/tictactoe.js"></script>

</body>

</html>
